{% extends 'shop/layouts/main.html' %} 
{% block title %} 
SHOPKART | ONLINE SHOPPING
{% endblock title %}
{% block content %}
  <div class="container" style="min-height:600px">
<div class="row" style="margin-top: 70px;">
    <div class="col-12">
            <h4 class="mb-3">User Login</h4>
            <hr style="border-color:#b8bfc2">
            {% include 'shop/inc/message.html' %} 
            
    </div>
</div>
<section class="py-4 my-5">
<div class="container">
  <div class="row">
    <div class="col-6">
      
      
    </div>
  </div>
</div>
</section>
</div>
{% endblock content %}

